<div class="sidebar">
      <header>My app</header>
      <ul>
        <li><a href="#"><i class="fas fa-qrcode">home</i></a></li>
        <li><a href="#"><i class="fas fa-link"></i>blogs</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>contact</a></li>
      </ul>
</div> 